body{
    line-height: 0;
    padding: 0;
    margin:0 ;
}
.foodproduct_wrapper{
    width:1920px;
    background:#FAFAFA;
    height: auto;
    background:url("../image/foodmadeback.jpg") no-repeat;
    background-size: 100%;
    padding: 0;
    margin:0 ;
    overflow: hidden;
}
.foodproduct_main{
    width: 1920px;
    overflow: hidden;
    background: #FAFAFA;
}
.foodproduct_info_box{
    width: 1920px;
    height: 1073px;
    background: #384661;
    overflow: hidden;
}
.foodproduct_info_con{
    width: 1205px;
    height: 882px;
    margin:128px auto 0;
    overflow: hidden;
}
.foodproduct_info_box_left{
    width: 808px;
    height: 880px;
    background: #fff;
    margin-right:26px ;
    float: left;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}
.foodproduct_info_name{
    width: 752px;
    height: 29px;
    line-height: 29px;
    margin: 27px 0 13px 45px;
    color: #7084A9;
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 24px;
}
.foodproduct_info_userid{
    width: 752px;
    height: 19px;
    line-height: 19px;
    margin: 0 0 23px 45px;
    color: #B9C2D5;
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 14px;
}
.foodproduct_picture_presentation{
    width: 774px;
    height: 608px;
    margin: 0 auto;
    overflow: hidden;
    max-width:774px;
}
.foodproduct_picture_presentation>img{
    margin-left: 1px;
    float: left;
}
.foodproduct_picture_presentation_synopsis{
    width: 752px;
    height: 105px;
    margin: 23px 0 0 43px;
    line-height: 20px;
    color: #999;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
}
.foodproduct_picture_presentation_like{
    width: 110px;
    height: 20px;
    line-height: 20px;
    float: right;
    margin-right: 18px;
    color: #333;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
}
.foodproduct_picture_presentation_like>i{
    float: left;
    color: #ff0000;
    margin-top: 4px;
    margin-right: 4px;
}
.foodproduct_picture_presentation_like>span{
    float: left;
    margin-left: 4px;
}
.foodproduct_info_box_right{
    width: 369px;
    height: 882px;
    float: left;
    overflow: hidden;
}
.foodproduct_buy_related{
    width: 321px;
    height: 596px;
    background: #fff;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 26px 23px 0;
}
.foodproduct_buy_platform{
    width: 367px;
    height: 247px;
    background: #fff;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 10px;
    overflow: hidden;
}
.foodproduct_buy_platform_top{
    width: 290px;
    height: 39px;
    line-height: 39px;
    margin: 17px auto 0;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
    margin-left: 31px;
}
.foodproduct_buy_platform_top>span{
    float: left;
    line-height: 39px;
}
.foodproduct_buy_platform_top>img{
    float: left;
    width: 58px;
    height: 39px;
    line-height: 39px;
    margin: 0 5px 0 14px;
}
#ZhiFuBaoPay{
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 12px;
    color: #666;
}
.foodproduct_buy_platform_con{
    width: 323px;
    height: 172px;
    background: #FAFAFA;
    margin: 0 auto;
    overflow: hidden;
}
.foodproduct_buy_platform_con>ul{
    width: 302px;
    height: 76px;
    margin: 25px 0 0 22px;
}
.foodproduct_buy_platform_con>ul>li{
    float: left;
    height: 76px;
    margin-right:3px;
}
.foodproduct_buy_platform_con>ul>li>img{
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 4px;

}
.foodproduct_buy_platform_con>ul>li>span{
    height: 25px;
    padding: 0 2px;
    line-height: 25px;
    font-weight: 700;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #666;
}
.foodproduct_buy_platform_con>p{
    width: 302px;
    height: 65px;
    margin: 0 0 0 22px;
    line-height: 21px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #666;
    text-indent:2em;
}
.foodproduct_buy_relatedinfo{
    width: 323px;
    height: 159px;
}
.foodproduct_buy_relatedinfo_head{
    width: 214px;
    height: 97px;
    margin-right: 12px;
    float: left;
}
.foodproduct_buy_relatedinfo_head>p{
    width: 214px;
    height: 22px;
    line-height: 22px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 16px;
    color: #54688D;
}
.foodproduct_buy_relatedinfo_head>ul{
    width: 214px;
    height: 57px;
}
.foodproduct_buy_relatedinfo_head>ul>li{
    height: 57px;
    line-height: 57px;
    margin-right: 7px;
    float:left ;
}
.foodproduct_buy_relatedinfo_head>ul>li>a{
    height: 21px;
    line-height: 21px;
    text-align: center;
    padding: 0 18px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #54688D;
    background: #DADFE9;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}
.foodproduct_buy_relatedinfo_head>ul>li>a:hover{
    color: #FF9933;
}
.foodproduct_buy_relatedinfo_head>div{
    height: 25px;
    line-height: 25px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
}
.foodproduct_buy_relatedinfo_head>div>i{
    color: #888;
}
#foodproductRatingScores{
    color: #FF9933;
    margin: 0 8px 0 12px;
}
.foodproduct_buy_relatedinfo_head_portrait{
    width: 97px;
    height: 97px;
    float: left;
    background: url("../image/u294.png")no-repeat;
    background-size: 100%;
}
.foodproduct_buy_relatedinfo_contactway{
    width: 323px;
    height: 47px;
    line-height: 47px;
    clear: both;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
}
.foodproduct_buy_relatedinfo_contactway>a{
     font-weight: 400;
     font-family: "microsoft yahei";
     font-size: 14px;
     color: #333;
 }
.foodproduct_buy_relatedinfo_contactway>a:last-child{
    float: right;
    color: #ccc;
}
.foodproduct_buy_relatedinfo_phonenumr{
    margin: 0 21px 0 18px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #FF9933;
}


.foodproduct_buy_number_select{
    width: 323px;
    height: 180px;
    background: #FAFAFA;
}
.foodproduct_buy_number_price{
    width: 287px;
    height: 80px;
    border-bottom: 1px dashed #ccc;
    margin: 0 auto;
}
.foodproduct_buy_number_price>p{
    width: 215px;
    line-height: 80px;
    height: 80px;
    font-family:"microsoft yahei";
    font-weight: 700;
    font-size: 28px;
    color: #FF8F20;
    float: left;
}
.foodproduct_thismonth_taken{
    width: 72px;
    height: 57px;
    float: left;
    margin-top: 10px;
}
.foodproduct_thismonth_taken>p{
    width: 72px;
    height: 28px;
    line-height: 28px;
    clear: both;
    font-family:"microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.foodproduct_thismonth_taken>p:last-child{
    color: #999;
}
.foodproduct_buy_numberofcases{
    width: 287px;
    height: 20px;
    line-height: 20px;
    margin: 32px auto 0;
}
.foodproduct_buy_numberofcases>span{
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.foodproduct_buy_numberofcases>div{
    width: 92px;
    height: 20px;
    margin: 0 12px;
    line-height: 20px;
    float: left;
}
#numberOfCasesAdd,#numberOfCasesSubtract{
    width: 16px;
    height: 14px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
    margin-top: 2px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: #FFFFFF;
}
#numberOfCasesShow{
    width: 51px;
    height: 18px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    text-align: center;
    outline: none;
}
#foodproductAmountAdd,#foodproductAmountSubtract{
    width: 16px;
    height: 14px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
    margin-top: 2px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: #FFFFFF;
}
#foodproductSmountShow{
    width: 51px;
    height: 18px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    text-align: center;
    outline: none;
}
#foodproductTimeAdd,#foodproductTimeSubtract{
    width: 16px;
    height: 14px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
    margin-top: 2px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: #FFFFFF;
}
#foodproductTimeShow{
    width: 51px;
    height: 18px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    text-align: center;
    outline: none;
}

.foodproduct_provide_film_show{
    width: 323px;
    height: 70px;
    background: #E3E3E3;
    border-bottom: 1px solid #D7D7D7;
    overflow: hidden;

}
.foodproduct_provide_film_show>div{
    height: 70px;
    line-height: 70px;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #1E1E1E;
    margin-left: 20px;
}
.foodproduct_provide_film_show>div>span{
    margin:0 7px 0 18px;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 20px;
    color: #666;
}
.foodproduct_provide_film_show>p{
    width: 303px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-left: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #1E1E1E;
}
.foodproduct_provide_film_show>p:first-child{
    color: #666;
}
.foodproduct_buy_related>p{
    width: 288px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    border-bottom: 1px dashed #CCCCCC;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.foodproduct_buy_related>p>span{
    margin: 0 13px;
}
.foodproduct_buy_related>ul{
    width: 323px;
    height: 50px;
    margin-top: 40px;
    overflow: hidden;
}
.foodproduct_buy_related>ul>li{
    width: 155px;
    height: 50px;
    float: left;
    overflow: hidden;
}
.foodproduct_buy_related>ul>li:first-child{
    margin-right: 13px;
}
.foodproduct_buy_related>ul>li>input{
    width: 155px;
    height:50px ;
    background: #6177A0;
    cursor: pointer;
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    outline: none;
}
.foodproduct_buy_related>ul>li:last-child>input {
    background: #FF9933;
}
.foodproduct_buy_related>ul>li>input:hover{
    background:#FF6633;
}


.foodproduct_supporting_services{
    width: 1203px;
    height: 262px;
    background: #E3E3E3;
    border: 1px solid #D7D7D7;
    margin: 47px auto 56px;
    box-shadow:#CBCBCB 1px 1px 1px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
.foodproduct_supporting_services>p{
    width: 1165px;
    height: 55px;
    margin-left: 18px;
    line-height: 55px;
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 16px;
    color: #7084A9;
}
.foodproduct_supporting_services_list{
    width: 1165px;
    height: 181px;
    margin-left: 18px;
    overflow: hidden;
}
.foodproduct_supporting_services_list>li{
    width: 178px;
    height: 181px;
    background: #fff;
    float: left;
    margin-right: 21px;
    position: relative;
    overflow: hidden;
}
.foodproduct_supporting_services_list>li>img{
    width: 160px;
    height: 107px;
    margin: 11px 8px 0;
    cursor: pointer;
}
.foodproduct_supporting_services_list>li>div{
    width: 160px;
    height: 20px;
    margin: 27px 8px 0;
}
.foodproduct_supporting_services_list>li>div>p{
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin-left: 27px;
    margin-right: 22px;
    float: left;
    height: 20px;
    line-height: 20px;
}
.foodproduct_supporting_services_list>li>div>a{
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
    margin-right: 3px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
#foodproductAddScenario,#foodproductAddClothing,#foodproductAddMakeup{
    border: 1px solid #999;
    width: 18px;
    height: 18px;
}


.his_works_nav{
    width: 1920px;
    height: 44px;
    margin: 0 auto ;
    overflow: hidden;
}
.his_works_nav_box{
    width: 1205px;
    height: 44px;
    margin: 0 auto;
    overflow: hidden;
}
.his_works_nav_list{
    width: 1205px;
    height: 42px;
    overflow: hidden;
}
.foodproduct_nav_border{
    width: 1205px;
    height: 2px;
    background: #54688D;

}
.his_works_nav_list>li{
    float: left;
    width: 235px;
    height: 42px;
    margin-right: 8px;
}
.his_works_nav_list>li>a{
    display: inline-block;
    width: 233px;
    height: 42px;
    background: #fff;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 16px;
    color: #333;
    line-height: 42px;
    text-align: center;
}
.his_works_nav_list>li>a:hover{
    background: #54688D;
    color: #fff;
}



/*foodlist*/
.img_con_box{
    width: 1205px;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
    overflow: hidden;

}
.yingtu_img_list{
    width: 233px;
    margin: 13px 6px 0 0;
    overflow: hidden;
    border:  1px solid #E8E8E8;
    border-bottom: 1px solid #B4B4B4;
    float: left;
}
.yingtu_img_show{
    width: 233px;
    height: auto;
    display: block;
}
.yingtu_img_light{
    width: 233px;
    height: auto;
    display: block;
    color: #fff;
    position: absolute;
    z-index: 1000;
    opacity: 0.05;
    top:0;
}
.yingtu_img_info{
    width: 233px;
    height:116px;
    background: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.yingtu_img_info>li{
    width: 203px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.information_description{
    height: 50px;
    line-height: 20px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.information_description:hover{
    color: #54688D;
}
.clinch_information{
    height: 32px;
    line-height: 32px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
}
.source_info{
    height: 35px;
    background: #FAFAFA;
    border-top: 1px solid #F2F2F2;
    line-height: 35px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
}
.price_info{
    float: right;
}
#priceValue{
    font-size: 16px;
    color: #f00;
    font-weight: 200;
}
.heart_info{
    float: left;
    width: 15px;
    height: 14px;
    margin-right: 4px;
    color: #D4D4D4;
    margin-top: 11px;
    cursor: pointer;
}

.like_degree{
    float: right;
}
#likeDegreeNo{
    font-weight: 200;
}
#sourceName{
    float: left;
    width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*^food*/


/*portraitproduct*/

/*placeproduct*/
.photographer_proposed_site{
    width: 745px;
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #D7D7D7;
    background: #54688D;
    padding-left: 63px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.photographer_proposed_site_con{
    width: 693px;
    height: 454px;
    margin: 19px 53px 0 63px;
    overflow: hidden;
}
.photographer_proposed_site_top{
    width: 693px;
    height: 168px;
    overflow: hidden;
    margin-bottom: 10px;
}
.photographer_proposed_site_info{
    width: 490px;
    height: 168px;
    float: left;
}
.photographer_proposed_picture{
    width: 160px;
    height: 160px;
    border: 1px solid #888;
    border-radius: 200px;
    float: left;
    margin: 0 10px 0 0;
    background: url("../image/placeproductheadimg.png") no-repeat;
    background-size: 100%;
}
.photographer_proposed_site_name{
    width: 275px;
    height: 132px;
    float: left;
}
.photographer_proposed_site_name>p{
    width: 275px;
    height: 30px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
}
.photographer_proposed_site_name>ul{
    width: 275px;
    height: 96px;
}
.photographer_proposed_site_name>ul>li{
    width: 275px;
    height: 25px;
    line-height: 25px;
    margin-top: 7px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
}
.photographer_proposed_site_name>ul>li>div{
    height: 25px;
    line-height: 25px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
}
.photographer_proposed_site_name>ul>li>div>i{
    color: #888;
}
.photographer_proposed_site_name>ul>li>p{
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
}
.photographer_proposed_site_name>ul>li>p>a{
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
}
.photographer_proposed_site_score{
    color: #FF9933;
    margin: 0 7px;
}
.photographer_proposed_site_phone{
    font-size: 18px;
    color: #FF9933;
    margin: 0 18px;

}
.photographer_proposed_site_photo_album{
    width: 201px;
    height: 130px;
    float: left;
    border: 1px solid #CCCCCC;
}
.photographer_proposed_site_photo_album>p{
    width: 201px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background: #898989;
}
.photographer_proposed_site_photo_album>div{
    width: 201px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.photographer_proposed_specific_description{
    width: 556px;
    height: 232px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    clear: both;
    float: left;
}
.photographer_proposed_specific_header{
    width: 526px;
    height: 42px;
    line-height: 42px;
    background: #5FB2AC;
    padding-left: 30px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
.photographer_proposed_description_con{
    width: 557px;
    height: 191px;
    overflow: scroll;
    overflow-x: hidden;
}
.photographer_proposed_description_con>p{
    width: 479px;
    height: 150px;
    margin: 35px auto 0;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}




.photographer_proposed_description_barlist{
    float: left;
    width: 107px;
    height: 183px;
    margin:0 0 0 28px;
}
.photographer_proposed_description_barlist>p:first-child{
    width: 107px;
    height: 28px;
    line-height: 28px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 14px;
    color: #5FB2AC;
}
.description_barlist_scenario_cost{
    width: 107px;
    height: 36px;
    line-height: 36px;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    font-size: 28px;
    color: #FF8F20;
}
.photographer_proposed_description_barlist>input{
    width: 105px;
    height: 33px;
    line-height: 33px;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    background: #54688D;
    text-align: center;
    margin-top: 14px;
}
.photographer_proposed_description_barlist>input:last-child{
    background: #FF9933;
}



.placeproduct_other_scenarios{
    width: 745px;
    height: 41px;
    line-height: 41px;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    background: #54688D;
    padding-left: 63px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.placeproduct_other_scenarios_con{
    width: 707px;
    height: 285px;
    margin: 16px 52px 0 51px;
    overflow: hidden;
}

.placeproduct_con{
    width: 707px;
    height: 235px;
    margin-bottom: 11px;
    overflow: hidden;
    clear: both;
}
.placeproduct_list{
    width: 225px;
    height: 230px;
    background: #fff;
    border: 1px solid #F5F5F5;
    box-shadow: #C4C4C4 1px 1px 1px;
    float: left;
    overflow: hidden;
    margin-right: 12px;
}
.placeproduct_con>li:last-child{
    margin-right: 0;
}
.placeproduct_list>img{
    width: 209px;
    height: 139px;
    margin: 10px 8px 13px;

}
.placeproduct_info{
    width: 209px;
    height: 28px;
    margin: 0 8px;
    line-height: 28px;
}
.placeproduct_info_placename{
    width: 121px;
    height: 28px;
    line-height: 28px;
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    float: left;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.placeproduct_info_placename:hover{
    color: #8A9FC6;
}
.placeproduct_info_placeprice{
    width: 88px;
    height: 28px;
    line-height: 28px;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 16px;
    color: #FF8F20;
    float: right;
    text-align: center;
}
.placeproduct_info_placeprice>span{
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 20px;
    color: #FF8F20;
    text-align: center;
}
.placeproduct_paging{
    width: 376px;
    height: 33px;
    margin: 0 auto;
}
.placeproduct_paging>li{
    width: auto;
    height: 31px;
    line-height: 31px;
    float: left;
    margin-right: 7px;
}
.placeproduct_paging>li:last-child{
    margin:0;
}
.placeproduct_paging>li>a{
    padding: 0 11px;
    height: 31px;
    text-align: center;
    border: 1px solid #D7D7D7;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.placeproduct_paging>li>a:hover{
    background: #54688D;
    color: #fff;
}


.placeproduct_info_box{
    width: 209px;
    height: 28px;
    margin-top: 4px;
    margin-left: 8px;
    overflow: hidden;
}
.placeproduct_info_box_left{
    width: 117px;
    height: 28px;
    float: left;
}
.placeproduct_info_box_right{
    width: 88px;
    height: 28px;
    float: left;
}
.placeproduct_info_box_left>p{
    height: 28px;
    line-height: 28px;
    width: 75px;
}
.placeproduct_phonenumr{
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 12px;
    color: #FF8F20;
    float: left;
}
.placeproduct_info_box_left>a{
    width: 40px;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #666;
    float: left;
}
.placeproduct_examine{
    width: 88px;
    height: 28px;
    background: #FF9933;
    cursor: pointer;
    font-family: "microsoft yahei";
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 200px;
    text-align: center;
    outline: none;
}
.scenario_cost_buy_numberofcases{
    width: 287px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto ;
}
.scenario_cost_buy_numberofcases>span{
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.scenario_cost_buy_numberofcases>div{
    width: 92px;
    height: 20px;
    margin: 0px;
    line-height: 20px;
    float: left;
}
#scenariocostAmountAdd,#scenariocostAmountSubtract{
    width: 16px;
    height: 14px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
    margin-top: 2px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: #FFFFFF;
}
#scenariocostSmountShow{
    width: 38px;
    height: 18px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    text-align: center;
    outline: none;
}
#scenariocostTimeAdd,#scenariocostTimeSubtract{
    width: 16px;
    height: 14px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #999;
    margin-top: 2px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: #FFFFFF;
}
#scenariocostTimeShow{
    width: 38px;
    height: 18px;
    border: 1px solid #999;
    float: left;
    font-family: "microsoft yahei";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 18px;
    text-align: center;
    outline: none;
}
/*choosedresser*/
.choosedresser_dresser_name{
    width: 112px;
    height: 21px;
    line-height: 21px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.choosedresser_info_box_left{
    width: 117px;
    height: 20px;
    float: left;
}
.choosedresser_info_box_left>p{
    height: 20px;
    line-height: 20px;
    width: 75px;
}
.choosedresser_phonenumr{
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 12px;
    color: #FF8F20;
    float: left;
}
.choosedresser_info_box_left>a{
    width: 40px;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #666;
    float: left;
}
.choosedresser_info_box{
    width: 209px;
    height: 39px;
    margin-left: 8px;
    overflow: hidden;
}
.photographer_proposed_description_con>ul{
    width: 468px;
    height: 144px;
    margin: 22px 0 0 32px;
    overflow: hidden;
}
.photographer_proposed_description_con>ul>li{
    width: 98px;
    height: 144px;
    margin-right: 25px;
    float: left;
}
.photographer_proposed_description_con>ul>li:last-child{
    margin-right: 0;
}
.photographer_proposed_description_con>ul>li>div:first-child{
    width: 96px;
    height: 114px;
    border: 1px solid #797979;
}
.photographer_proposed_description_con>ul>li>div:last-child{
    width: 96px;
    height: 15px;
    margin-top: 13px;
    text-align: center;
    font-weight: 400;
    font-family: "microsoft yahei";
    font-size: 13px;
    color: #333;
}
.photographer_proposed_description_con>ul>li>div:last-child>input{
    margin-right: 15px;
}