.all_orders_nav{
    width: 1203px;
    height: 39px;
    border: 1px solid #CCCCCC;
    background: #F9F9F9;
    margin-top: 21px;
    margin-bottom: 10px;
    display: inline-block;
}
.all_orders_nav>ul{
    width: 1203px;
    height: 18px;
    margin-top: 10px;
}
.all_orders_nav>ul>li{
    float: left;
    width: 126px;
    height: 18px;
    border-right: 1px solid #33337C;
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-weight: 700;
    color: #333333;
    font-size: 14px;
}
.all_orders_nav>ul>li:last-child{
    border-right:none;
}
.all_orders_nav>ul>li>span{
    color: #f00;
}
.current_orders_header{
    width: 1203px;
    height: 39px;
    border: 1px solid #CCCCCC;
    background: #F9F9F9;
    margin-top: 10px;
    margin-bottom: 10px;
    display:inline-block ;
}
.current_orders_header>li{
    float: left;
    height: 39px;
    line-height: 39px;
    font-family: "Microsoft YaHei";;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.current_orders{
    width: 1203px;
    height: 158px;
    border: 1px solid #CCCCCC;
    background: #fff;
    margin-bottom: 37px;
}
.current_orders>li{
    width: 1203px;
}
.current_orders>li:first-child{
    height: 40px;
}
.current_orders>li:last-child{
    height: 120px;
}
.the_order_number{
    width: 1169px;
    height: 40px;
    background: #54688D;
    padding-left: 35px;
}
.the_order_number>li{
    float: left;
    height: 40px;
    line-height: 40px;
    font-family: "Microsoft YaHei";;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.order_details{
    width: 1203px;
    height: 120px;
}
.order_details>li{
    float: left;
    height: 110px;
    border-right: 1px solid #CCCCCC;
    padding-top: 10px;
    text-align: center;
    font-family: "Microsoft YaHei";;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.order_details>li:last-child{
    border-right:none;
}
.contact_phone_number{
    width: 228px;
    clear: both;
    color: #999;
}
#buyersName{
    margin-bottom: 15px;
}
.server_image{
    width: 70px;
    height: 70px;
    float: left;
    margin: 0 10px 0 12px;
    background: url("../image/serviceimage.png") no-repeat;
    background-size: 100%;
}
.server_info{
    float: left;
    width: 206px;
    height: 85px;
    text-align: left;
}
.user_server_title{
    font-size: 16px;
    margin-bottom: 12px;
}
.user_photographer_info{
    color: #999;
    margin-bottom: 12px;
}
.server_info>a{
    width: 85px;
    height: 18px;
    border: 1px solid #797979;
    text-align: center;
    margin-right: 10px;
    color: #333;
}
#cancelOrder{
    width: 85px;
    height: 40px;
    color: #fff;
    text-align: center;
}
#rephotograph,#report{
    width: 40px;
    height: 24px;
    clear: both;
    border: 1px solid #797979;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-bottom:15px;
    color: #fff;
    font-family: "Microsoft YaHei";;
    font-weight: 400;
    font-size: 14px;
    background: #336699;
}
#rephotograph:hover,#report:hover{
    background: #7194B8;
}

.total_amount_of{
    width: 126px;
    height: 46px;
    margin: 0 auto;
    border-bottom: 1px solid #D7D7D7;
    font-family: "Microsoft YaHei";;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}
#onlinePayment{
    margin-top: 19px;
    color: #999;
}
.evaluation{
    width: 258px;
    height: 50px;
    margin-top: 17px;
}
.evaluation>i{
    color: #9B9B9B;
    margin: 0 2px;
    cursor: pointer;

}
.have_evaluation>i{
    color: #D9D9D9;
}